<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tour.admin.repository.read.LoadReadRepository">

    <select id="cotentidSelect" resultType="string">
        SELECT str_idx FROM ad_store_1
    </select>

</mapper>