<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tour.user.repository.write.UserMemberWriteRepository">
    <insert id="userJoin" parameterType="com.tour.user.vo.MemberVO">
        INSERT INTO ad_member (
         mb_pw
        , mb_email
        , mb_ci
        , mb_gender
        , mb_birth
        , mb_regdate
        , mb_level
        , mb_status
        , mb_nickname
        , mb_local
        , mb_foreigner
        )VALUES(
         #{mb_pw}
        , #{mb_email}
        , #{mb_ci}
        , #{mb_gender}
        , #{mb_birth}
        , CURRENT_TIMESTAMP
        , 1
        , 1
        , #{mb_nickname}
        , #{mb_local}
        , #{mb_foreigner}
        )
    </insert>

    <update id="passwordChange" parameterType="map">
        UPDATE ad_member
        SET mb_pw = #{mb_pw}
        WHERE mb_idx = #{mb_idx}
    </update>

</mapper>