<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tour.user.repository.write.UserMemberWriteRepository">
    <insert id="userJoin" parameterType="map">
        <selectKey resultType="int" keyProperty="mb_idx" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
        INSERT INTO ad_member (
        mb_pw
        , mb_email
        , mb_ci
        , mb_gender
        , mb_birth
        , mb_regdate
        , mb_level
        , mb_status
        , mb_nickname
        , mb_local
        , mb_local2
        , mb_foreigner
        )VALUES(
        HEX(AES_ENCRYPT(#{mb_pw}, #{cryptkey}))
        , HEX(AES_ENCRYPT(#{mb_email}, #{cryptkey}))
        , #{mb_ci}
        , #{mb_gender}
        , #{mb_birth}
        , DATE_FORMAT(CURRENT_TIMESTAMP, '%Y/%m/%d %H:%i:%s')
        , 1
        , 1
        , #{mb_nickname}
        , #{mb_local}
        , #{mb_local2}
        , #{mb_foreigner})
    </insert>


    <insert id="fcmInsert" parameterType="map">
        <selectKey resultType="int" keyProperty="fcm_idx" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
        INSERT INTO fcm_info  (
            mb_idx
            , fcm_token
            , app_type
            , app_ver
            , device_os_ver
            , device_name
            , push_use
            , marketing_use
            , user_lat
            , user_lng
        )VALUES (#{mb_idx},#{fcm_token}, #{app_type}, #{app_ver}, #{device_os_ver}, #{device_name}, #{push_use}, #{marketing_use}
        , #{user_lat} , #{user_lng})
    </insert>


    <update id="passwordChange" parameterType="map">
        UPDATE ad_member
        SET mb_pw = #{mb_pw}
        WHERE mb_idx = #{mb_idx}
    </update>

    <update id="sessionChk" parameterType="map">
        UPDATE fcm_info
        SET mb_idx = #{mb_idx}
          , fcm_token = #{fcm_token}
          , device_os_ver = #{device_os_ver}
          , device_name = #{device_name}
          , app_type = #{app_type}
          , app_ver = #{app_ver}
          , fcm_date = DATE_FORMAT(CURRENT_TIMESTAMP, '%Y/%m/%d %H:%i:%s')
            , push_use = IFNULL(#{push_use}, 'Y')
            , marketing_use = IFNULL(#{marketing_use}, 'Y')
         , user_lng = #{user_lng}
        , user_lat = #{user_lat}
        WHERE fcm_idx = #{fcm_idx}
    </update>

    <update id="updateEmailChk" parameterType="map">
        UPDATE fcm_info
            SET email_check = #{email_check}
        WHERE fcm_idx = #{fcm_idx}
    </update>

    <update id="alarmCheck" parameterType="map">
        UPDATE fcm_info
            SET ${type} = #{use}
        WHERE fcm_idx = #{fcm_idx}
    </update>



</mapper>