<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tour.user.repository.read.UserPageReadRepository">
    <select id="myImageLoad" resultType="map" parameterType="map">
        SELECT
            my_idx,
            mb_idx,
            CONCAT(DATE_FORMAT(my_regdate, '%Y/%m/%d '),DATE_FORMAT(my_regtime, '%H:%i:%s')) AS my_regdate,
           CONCAT(#{url},IFNULL(my_image_file, '')) AS my_image_file
        FROM ad_mypage
        WHERE cpl_use  = 'Y'
          AND mb_idx = #{mb_idx}
        ORDER BY my_regdate
        <if test="count != 0">
            LIMIT #{count}
        </if>
    </select>

    <select id="myPageCnt" resultType="map" parameterType="map">
        SELECT
                (SELECT COUNT(like_idx) FROM ad_like li WHERE li.mb_idx = 6) AS like_cnt,
                (SELECT COUNT(rv_idx) FROM ad_review rv WHERE rv.mb_idx = 6) AS review_cnt,
                (SELECT COUNT(my_image_file) FROM ad_mypage mp WHERE mp.mb_idx = 6) AS image_cnt
        FROM DUAL
    </select>
    <select id="myLike" resultType="map" parameterType="map">
        SELECT
            li.like_idx,
            li.mb_idx,
            li.str_idx,
            li.like_status,
            IFNULL(st.str_like_cnt, 0) AS str_like_cnt,
            st.str_lat,
            st.str_lng,
            st.str_category,
            IFNULL((SELECT AVG(review_avg) FROM ad_review WHERE str_idx = st.str_idx), 0.0) AS review_ave,
            ac.ct_ko_nm,
            ac.ct_ja_nm,
            ac.ct_zh_nm,
            ac.ct_es_nm,
            ac.ct_eu_nm,
            asd.str_dt_type AS str_dt_type,
            asd.str_dt_name AS str_dt_name,
            IFNULL(CONCAT(#{url}, st.str_image), st.str_image) AS str_image,
            IFNULL(asd.str_dt_desc, '') AS str_dt_desc,
            (SELECT COUNT(*) FROM ad_review WHERE str_idx = st.str_idx) AS str_review_cnt,
            0.0 AS str_review_ave,
            0.0 AS str_km
        FROM ad_like li
                 LEFT JOIN ad_store st ON st.str_idx = li.str_idx
                 LEFT JOIN ad_store_detail asd ON st.str_idx = asd.str_idx
                 LEFT JOIN ad_category ac ON st.str_category = ac.ct_idx
        WHERE (asd.str_dt_type = 'ko' OR asd.str_dt_type = #{lang})
          AND li.mb_idx = #{mb_idx}
        GROUP BY st.str_idx, asd.str_dt_type, li.like_idx
        ORDER BY IFNULL(#{sorting}, '')
    </select>
    <select id="myReview" resultType="map" parameterType="map">
        SELECT DISTINCT
            st.str_idx AS str_idx
                      , st.str_category
                      , st.str_like_cnt
                      , ac.ct_ko_nm
                      , ac.ct_ja_nm
                      , ac.ct_zh_nm
                      , ac.ct_es_nm
                      , ac.ct_eu_nm
                      , asd.str_dt_name AS str_dt_name
                      , (SELECT COUNT(*) FROM ad_review WHERE str_idx = st.str_idx ) AS str_review_cnt
                      , 0.0 AS str_km
                      , IFNULL((SELECT like_status FROM ad_like WHERE mb_idx = IFNULL(#{mb_idx}, '') and str_idx = st.str_idx), 'N') AS like_status
                      , rv.rv_contents
                      , rv.rv_idx
                      , rv.rv_reg_date
                    ,  IFNULL(rv.rv_reply , '') AS rv_reply
                        , rv.review_avg
        FROM ad_review rv
                 LEFT JOIN ad_store st ON rv.str_idx = st.str_idx
                 LEFT JOIN ad_store_detail asd ON rv.str_idx = asd.str_idx
                 LEFT JOIN ad_category ac ON st.str_category = ac.ct_idx
        WHERE (asd.str_dt_type = 'ko' OR asd.str_dt_type = #{lang})
          AND rv.mb_idx  = #{mb_idx}
        GROUP BY st.str_idx, asd.str_dt_type, rv_idx
        ORDER BY IFNULL(#{sorting},'')
    </select>

    <select id="reviewImageList" parameterType="map" resultType="string">
        SELECT CONCAT(#{url},avi.rv_img_file) from ad_review_image avi WHERE avi.rv_idx = #{rv_idx}
    </select>


</mapper>